<%- include('../parts/header.ejs', { title, appName, appUrl, stylesheet }) %>

<h2><%= name %>,</h2>
<p>This is a confirmation that your <%= appName %> password has been changed.</p>
<p class="sub">Please email <a href="mailto:<%= supportEmail %>"><%= supportEmail %></a> if you have questions or if this
  change was
  not authorized.</p>

<p class="sub">- The <%= appName %> team</p>

<%- include('../parts/footer.ejs', { year, appName, appUrl }) %>